NEXT_PUBLIC_SUPABASE_URL=https://zcatynhxjjrkdwbejvkc.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_8hmjy3Y7ljh5iLKImWY5XQ_ZbJzMOL9
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=your_unsigned_upload_preset
NEXT_PUBLIC_CLOUDINARY_FOLDER=post-images
TMDB_READ_ACCESS_TOKEN=your_tmdb_read_access_token
EXTENSION_IMPORT_TOKEN=Tuandaito
APP_ACCESS_PASSWORD=change-this-password
APP_ACCESS_COOKIE_SALT=change-this-random-salt
GOOGLE_APPS_SCRIPT_URL=https://script.google.com/macros/s/your_deployment_id/exec
# GOOGLE_APPS_SCRIPT_WEBAPP_URL=https://script.google.com/macros/s/your_deployment_id/exec
GOOGLE_SHEET_ID=your_google_sheet_id
GOOGLE_DRIVE_FOLDER_ID=your_google_drive_folder_id
GOOGLE_DRIVE_MAKE_PUBLIC=true
GOOGLE_APPS_SCRIPT_TOKEN=change-this-random-token
GOOGLE_BACKUP_TOKEN=change-this-random-token
GOOGLE_BACKUP_READY_POST_LIMIT=50
