NEXT_PUBLIC_SUPABASE_URL=https://zcatynhxjjrkdwbejvkc.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_8hmjy3Y7ljh5iLKImWY5XQ_ZbJzMOL9
TMDB_READ_ACCESS_TOKEN=your_tmdb_read_access_token
